{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Howl</h1>
    <p class="lead">Howl is an interface for your Fire Alarm sensors.</p>

    <div class="container">
        <div class="row"><h4>Insert your Fire Alarm Sensor GUID below:</h4></div>
        <div class="row">
            <form class="form-inline" action="/list">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputGUID" class="sr-only">GUID</label>
                    <input type="text" class="form-control" name="guid" placeholder="GUID">
                </div>
                <button type="submit" class="btn btn-primary mb-2">List All Measurements</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
